<h2>Calculate Tutoring Price</h2>

<form>
    <!-- Input for the number of hours the user needs tutoring -->
    <label for="txtHours">Number of Hours:</label>
    <input type="number" id="txtHours" min="1" placeholder="Enter hours" />
    <br />

    <!-- Fixed charge per hour (non-editable) -->
    <label for="txtCharge">Charge Per Hour:</label>
    <input type="text" id="txtCharge" value="50" readonly />
    <br />

    <!-- Button to calculate the total cost -->
    <input type="button" value="Calculate Total" id="btnCalculate" />

    <br />

    <!-- Output for showing the total cost -->
    <label for="txtTotal">Total Cost:</label>
    <input type="text" id="txtTotal" readonly />
</form>

<!-- Link to the jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Link to the custom JavaScript file -->
<script src="~/js/scripts.js"></script>
