<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<meta charset="utf-8" />
    <title>Frejus Nemet Fun Activity</title>
	<link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> <!--The bootstrap css file-->
</head>
<body>
    <header>Exploring The Beauty of French Poetry</header>
	<h2>The Beauty of French Language</h2>

	<img src="~/imgfolder/poem.jpeg" />
	<img src="~/imgfolder/poeme.jpeg" />

    <div>
        @RenderBody()
    </div>

	<script src="lib/jquery/jquery.min.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/site.js"></script>

	<footer>&copy; 2025 by Nemet Frejus. All rights reserved. Built with love and poetry.</footer>
</body>
</html>
